<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>This is our home page</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<section class="banner d-flex justify-content-center align-items-center" > 
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<p>Start Colecting your contact inn very smarter way.we provide very efficient and smarter way of holding contacts.</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
	</section>

	<script src="index.js"></script>
</body>

</html>